// main colors
$black: #000000;
$textblack: #171717;
$white: #ffffff;
$darkgreytext: #4b4b4b;
$greytext: #6d6d6d;
$greytextlight: #9c9c9c;
$greyborder: #dbdbdb;
$greybg: #f8f8f8;
$blue: #4f7b9e;
$red: rgb(255, 76, 76);

/* Разрешения */
$tablet : 768px;
$desktop: 1500px;